*{
    font-style: none;
    padding: 0px;
    border: 0px;
    margin: 0px;
    
}

.cabecalho{
    font-size: larger;
    font-weight: bold;
    display: grid;
    place-items: center;
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 80px;


}
 
header > p {
    font-size: 40px;
    color: floralwhite;
}

body{
    background-color: rgb(30, 30, 30);
    display:grid;
    
}

 .container{
     display:grid;
     width:400px;
     height:600px;
     background-color:tomato;
     margin-left:560px;
     margin-top:10px;
 }